<%- include('components/header', { title: 'GiftCommunity', user, categories, postsByCategory }) %>
<div class="row">
    <p style="text-align: center;">
        <h7 style="color: var(--green-gold); font-size: 30px;" class="wave-text">✨👋Welcome to Gift Ideas Community🎁💡</h7>
    </p>
</div>
<!-- Tab Menu -->
  <div class="row">
    <div class="col l12">
      <ul class="tabs">
        <% categories.forEach((category, index) => { %>
          <li class="tab col s3">
            <a class="<%= index === 0 ? 'active' : '' %>" href="#<%= category.replace(/\s+/g, '_') %>">
              <%= category %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>

  <div class="row">
    <a href="/addPost" class="btn-floating btn-large red" style="position: fixed; bottom: 35%; right: 20px;">
        <i class="large material-icons">add</i>
    </a>
  </div>

  <!-- Tab Content -->
  <% categories.forEach((category, index) => { %>
    <div id="<%= category.replace(/\s+/g, '_') %>" class="col s12">
      <div class="row">
        <% postsByCategory[category].forEach(post => { %>
          <div class="col s12 m4 l3"> <!-- m2 untuk 5 kolom dalam satu row -->
            <div class="card fixed-card">
                <div class="card-image">
                <img src="<%= post.cover_pic %>">
                </div>
                <div class="card-content">
                <h7 style="font-size: 20px;" class="card-title truncate"><%= post.title %></h7>
                <p class="truncate"><%= post.description %></p>
                <p><%= post.total_likes %> likes</p>
                </div>
                <div class="card-action">
                <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <% }) %>
      </div>
    </div>
  <% }) %>
<%- include('components/footer') %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tabs');
    M.Tabs.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, options);
  });
</script>
